@import url('../../bower_components/pdf.js-viewer/viewer.css');

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.some-pdf-container {
  width: 100%;
  height: 100%;
}

.pdfjs .pdfViewer .page canvas {
    margin: 0;
    display: block;
    position: absolute;
    top: 0;
}
.pdfjs .pdfViewer .page canvas.annotation{
  z-index: 1;
}
